<!-- As a heading -->
{{> navbars}}


<div class="form-input mt-4 ml-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Nhập từ khóa</label>
            <input type="text" class="form-control " name="name" placeholder="Điền vào đây">
            <input type="text" class="form-control mt-2" name="age" placeholder="Điền vào đây">
            <input type="text" class="form-control mt-2" name="q" placeholder="Điền vào đây">
            <select name="gender" class="form-control mt-2">
                <option value="">--Chọn giới tính--</option>
                <option value="male">Nam</option>
                <option value="other">Khác</option>
                <option value="female">Nữ</option>
            </select>
        </div>
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>